<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Adicionar Pessoa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="submitForm()">
        <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" [(ngModel)]="pessoa.nome" name="nome" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-datetime required name="dataNascimento" doneText="Confirmar" cancelText="Cancelar" displayFormat="DD/MM/YYYY" [(ngModel)]="pessoa.dataNascimento"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input required type="text" name="cpf" [(ngModel)]="pessoa.cpf" [brmasker]="{person: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input required type="text" [(ngModel)]="pessoa.telefone" name="telefone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input type="text" name="cep" [(ngModel)]="endereco.cep" (ionBlur)="preencherEndereco()" [brmasker]="{mask: '00.000-000', type:'num', len:10}" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Rua</ion-label>
            <ion-input type="text" name="rua" [(ngModel)]="endereco.logradouro" [brmasker]="{mask: '00.000-000', type:'num', len:10}" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Bairro</ion-label>
            <ion-input type="text" name="bairro" [(ngModel)]="endereco.bairro" [brmasker]="{mask: '00.000-000', type:'num', len:10}" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Cidade</ion-label>
            <ion-input type="text" name="cidade" [(ngModel)]="endereco.localidade" [brmasker]="{mask: '00.000-000', type:'num', len:10}" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Estado</ion-label>
            <ion-input type="text" name="estado" [(ngModel)]="endereco.uf" [brmasker]="{mask: '00.000-000', type:'num', len:10}" required></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" color="primary">Salvar</ion-button>
    </form>
</ion-content>